<div class="wrapper">
    <h2 class="section-title">contact</h2>
    <div class="form">
      <form action="" method="">
        <div class="form-item">
          <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div class="form-item">
          <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-item">
          <input type="text" name="subject" id="subject" placeholder="Subject">
        </div>
        <div class="form-item">
          <textarea name="message" id="message" placeholder="Message"></textarea>
        </div>
        <div class="form-item">
          <input type="submit" value="send" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  