<div class="wrapper">
    <h2 class="section-title">contact</h2>
    <p>
      Send me a message if you are interested in knowing more about what I do and what we can achieve by working together.
    </p>
    <div class="form">
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="form-item">
          <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]="contactMessage.name" required placeholder="Name">
          <span *ngIf="name.touched && !name.valid">
              This field is required
          </span>
        </div>
        <div class="form-item">
          <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="contactMessage.email" required placeholder="Email">
          <span *ngIf="email.touched && !email.valid">
              This field is required
          </span>
        </div>
        <div class="form-item">
          <input type="text" name="subject" id="subject" #subject="ngModel" [(ngModel)]="contactMessage.subject" placeholder="Subject">
        </div>
        <div class="form-item">
          <textarea name="message" id="message" #message="ngModel" [(ngModel)]="contactMessage.message" required placeholder="Message" maxlength="1000"></textarea>
          <span *ngIf="message.touched && !message.valid">
              This field is required
          </span>
        </div>
        <div class="form-item">
          <input type="submit" value="send" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  