<div class="wrapper">
  <h2 class="section-title">portfolio</h2>
  <div class="portfolio-grid">
    <div
      *ngFor="let project of portfolio" 
      [ngClass]="{'port-item': true}">
      <div class="img-wrapper">
        <div class="bg-buttons">
          <a [routerLink]="['/project', project.key]" class="btn btn-primary">See more</a>
          <a target="_blank" href="{{project.website}}" class="btn btn-secondary">Go to website</a>
        </div>
        <img src="../../../assets/images/{{project.image}}"> 
      </div>
      <!-- TODO: optimizar imagen -->
      <a href=""><h4>{{ project.name }}</h4></a>
      <p>
        {{ project.description }}
      </p>
    </div>
  </div>
</div>
