<nav class="wrapper nav-desktop" style="display: fixed">
  <ul>
    <li *ngFor="let link of links"><a [routerLink]="[ '/'+link.route ]">{{link.name}}</a></li>
  </ul>
  <div id="btn-menu" (click)="toggleMenu()">
    <img src="../../../assets/images/burguer-menu.svg" alt="menu-button">
  </div>  
</nav>

<div [ngClass]="{'nav-mobile': true, 'menu-visible': showing, 'menu-hidden': !showing}">
  <div class="logo-navbar">
      <a [routerLink]="[ '/' ]">
        <img src="../../../assets/images/logo.svg" alt="">
      </a>
  </div>
  <nav>
      <ul>
        <li *ngFor="let link of links"><a [routerLink]="[ '/'+link.route ]">{{link.name}}</a></li>
        <li *ngIf="auth.loggedIn"><a (click)="logout()"> logout </a></li>
      </ul>
  </nav>
</div>