/* variables */
:root {
    --main-green: #7BFF9E;
    --secondary-green: rgb(59, 204, 98);
}

.editor {
    color: #333;
    background: #fff;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 5;
    border: 1px solid var(--secondary-green);
    border-top: 4px solid var(--secondary-green);
    border-radius: 10px;
    padding: 1rem 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(136, 136, 136);
    width: 60rem;
    max-width: 40vw;
    min-width: 28rem;
    height: 70vh;
    max-height: 100vh;
}

.editor.editor-active {
    display: block;
    position: fixed;
}

.editor .editor-wrapper {
    position: relative;
    height: 60vh;
}

.editor .form {
    max-height: 100%;
}

.editor .box-header {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--secondary-green);
    margin-bottom: 1rem;
}

.editor .closeable {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.4rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.btn-edit {
    cursor: pointer;
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.btn-edit:hover {
    text-decoration: underline;
    color: var(--secondary-green);
}

.btn-edit svg path {
    color: var(--secondary-green);
} /* FIXME: */

.btn-edit .svg-inline--fa {
    font-size: 1.6rem!important;
    margin-right: 1rem;
} /* FIXME: */

svg.svg-inline--fa.fa-pencil-alt.fa-w-16 path {
    color: green;
} /* FIXME: */

.editor .box-body {
    max-height: 90%;
    overflow-y: scroll;
}

.editor .form input,
.editor .form textarea {
    border: 1px solid #ddd;
}

.editor .message {
    padding: 2rem;
    margin: 1.5rem 0;
    width: 100%;
}

.editor .success {
    background-color: rgb(195, 224, 194);
    color: rgb(16, 70, 25);
}

.editor .error {
    background-color: rgb(248, 220, 213);
    color: rgb(107, 13, 10);
}