<navbar id="navbar"></navbar>
<div class="form-container">
  <h2>Admin login:</h2>
  <div>
    <h4 class="message error" *ngIf="error">{{error}}</h4>
  </div>
  <form (ngSubmit)="submit()" class="form">
    <div class="form-item">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="form-item">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="password" />
    </div>
    <div class="form-item">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>

    <a (click)="logout()" class="btn">Logout</a>
  </form>
</div>