<navbar id="navbar"></navbar>
<education #education id="education" class="section education-view  padding-navbar">
    <div class="margin-bottom">
        <p class="text-center setction-p">These are all the courses I have taken since I discovered web development. I started from the basics and litle by litle I continued with more advance topics, such as frameworks for javascript or php</p>
    
        <p class="text-center setction-p">Appart from all these courses, I have learnt a bit about managing a virtual private server, installing on it all needed features to run this website and my projects listed on the "portfolio" section. Besides, I have completed some basic tutorials and learnt basic concepts of technologies like React, React Native and Flutter.</p>
    </div>
</education>
<!-- <contact #contact id="contact" class="section"></contact> -->