<navbar id="navbar"></navbar>
<portfolio #portfolio id="portfolio" class="section padding-navbar">
    <div class="margin-bottom">
        <p class="text-center setction-p">Here you have some of the projects I have been doing untill these days, some of them has been made for a company, some others just for myself and learning.</p>

        <p class="text-center setction-p">There are also the projects I have done on the courses listed in the "Educaction" section, they are not very complex but I like to have them on my virtual private server to show them.</p>
    </div>
</portfolio>
<!-- <contact #contact id="contact" class="section"></contact> -->
