<div class="rounded-box">
  <span>{{ edu_item.date }}</span>
  <hr>
  <div>
      <fa-icon [icon]="faUniversity"></fa-icon><h3>{{ edu_item.center }}</h3>
  </div>
  <div>
    <fa-icon [icon]="faGraduationCap"></fa-icon><a href="{{ edu_item.link }}">{{ edu_item.name }}</a>
    <span class="clarification-wrapper" *ngIf="edu_item.clarification">
      <fa-icon [icon]="faQuestion"></fa-icon>
      <div class="clarification">
        {{ edu_item.clarification }}
      </div>
    </span>
  </div>
</div>