<navbar id="navbar"></navbar>
<div *ngIf="project" class="hero height-navbar" [ngStyle]="{backgroundImage : 'url(' + apiUrl + '/project/get-image/' + project.image + ')'}">
  <div class="bg-gradient rad-gradient-white"></div>
  <div class="hero-content">
    <h2>{{ project.name }}</h2>
  </div>
</div>
<div *ngIf="project" class="wrapper project-wrapper">

  <div class="grid-view-project">
    <div class="left-col">
      <div class="project-image">
        <img [src]="apiUrl + '/project/get-image/' + project.image" alt="{{project.name}}">
      </div>
      <div class="tools">
        <h4>Used Tools</h4>
        <ul>
          <li *ngFor="let tool of project.tools">
            {{ tool }}
          </li>
        </ul>
      </div>
      <div class="company">
        <h4>Made for:</h4>
        <p>{{ project.company }}</p>
      </div>
      <div class="website">
        <h4>Website:</h4>
        <a href="{{project.website}}">{{project.name}}</a>
      </div>
    </div>

    <div class="right-col">
      <h2>Project: <i>{{ project.name }}</i></h2>
      <p class="project-description">
        {{ project.description}}
      </p>
      <div class="project-images">
        <!-- TODO: add images to the projects -->
      </div>
    </div>
  </div>

</div>
<contact #contact id="contact" class="section"></contact>
