/* You can add global styles to this file, and also import other style files */
/* Imports */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&display=swap");

/* variables */
:root {
    --main-green: #7BFF9E;
    --secondary-green: rgb(59, 204, 98);
}


/* Generals */
html {
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px */
}

body {
    min-height: 100vh;
    position: relative;
}

#page-container {
    padding-bottom: 11rem;    /* Footer height */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
    color: #333;
}

li {
    list-style: none;
}

h2,h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}

a {
    text-decoration: none;
}

a.center-link {
    color: #777;
    display: block;
    text-align: center;
    margin: 3rem auto;
}

a.center-link:hover {
    text-decoration: underline;
    color: var(--secondary-green);
}

a.center-link svg path {
    color: #777;
}

a.center-link.ligth {
    color: #eee;
}

a.center-link.ligth svg path {
    color: #eee;
}

a.center-link:hover {
    color: var(--secondary-green);
    text-decoration: none;
}

a.center-link:hover svg path {
    color: var(--secondary-green);
}

a.center-link .svg-inline--fa {
    font-size: 1.6rem;
    margin-right: 0.5rem;
}


.section {
    padding: 5rem 0;
    display: block;
    position: relative;
}

h2.section-title {
    font-size: 2.4rem;
    padding: 3rem 0;
    color: #333;
    text-transform: uppercase;
}

.wrapper {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 5px;
}

.bg-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rad-gradient-white {
    background: radial-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.95) );
}

.rounded-box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn {
    display: block;
    margin: 2rem auto;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: none;
    border: 0.2rem solid;
    padding: 0.8rem 0;
    width: 18rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    cursor: pointer;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--secondary-green);
    border-color: var(--secondary-green);
}

.btn-primary:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.btn-secondary {
    color: #333;
    border-color: var(--secondary-green);
    background-color: #ffffffc9;
}

.btn-secondary:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.form-item {
    width: 100%;
    margin: 2rem auto;
}

.form-item label {
    color: #333;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    display: inline-block;
}

input,
input[type='text'],
input[type='password'],
input[type='select'],
input[type='email'],
textarea {
    background: #fff;
    border: none;
    padding: 1rem;
    font-size: 1.8rem;
    width: 100%;
}

textarea {
    min-height: 15rem;
    max-height: 40rem;
    resize: vertical;
}

.message {
    padding: 2rem;
    margin: 1.5rem auto;
    width: 100%;
    max-width: 40rem;
}

.message.success {
    background-color: rgb(195, 224, 194);
    color: rgb(16, 70, 25);
}

.message.error {
    background-color: rgb(248, 220, 213);
    color: rgb(107, 13, 10);
}

@media only screen and (min-width: 720px) {
    h2,h1 {
        font-size: 4rem;
    }

    h2.section-title {
        font-size: 2.8rem;
    }
}

/* hero-home */
#hero-home {
    position: relative;
    background-image: url('assets/images/bg-hero.jpg');    
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: -54rem; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-home .hero-content {
    z-index: 2;
}

#hero-home h1:last-of-type {
    font-weight: normal;
    font-size: 2.2rem;
    color: #777;
    margin: 1.8rem;
    text-align: center;
}

.btn-hero {
    display: block;
    margin: 5rem auto 1rem auto;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #777;
    padding: 1.2rem 0;
    width: 22rem;
    border: 0.3rem solid #7BFF9E;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.btn-hero:hover {
    background-color: #ffffff80;
}


@media only screen and (min-width: 720px) {
    #hero-home {
        height: 60rem;
        background-position: center;
    }

    #hero-home .hero-content {
        z-index: 2;
    }

    #hero-home h2:first-of-type {
        font-size: 4rem;
    }

    #hero-home h1:last-of-type {
        font-size: 2.8rem;
    }
    
    .btn-hero {
        width: 260px;
        padding: 24px 0;
        margin-top: 10rem;
    }

}

/* Navbar */
#navbar {
    height: 5rem;
    background-color: #7BFF9E;
    display: flex;
    align-items: center;
    position: relative;
}

#navbar .nav-desktop ul {
    display: none;
}

#navbar li a {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

#navbar li a:hover {
    color: #000;
}

#navbar #btn-menu {
    margin-right: 1rem;
    text-align: right;
}

#navbar #btn-menu:hover {
    cursor: pointer;
}

.menu-hidden {
    left: -28rem;
    opacity: 0;
}

.menu-visible {
    left: 0;
    right: auto;
    opacity: 1;
}

#navbar .nav-mobile {
    top: 0;
    display: block;
    position: fixed;
    width: 22rem;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 5;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    box-shadow: -2px 0px 10px 0px rgb(92, 92, 92);
}

#navbar .nav-mobile nav {
    position: relative;
    top: 8rem;
    display: block;
    width: 22rem;
    padding: 2rem;
}

#navbar .nav-mobile ul li {
    position: relative;
    margin-left: 10px;
    margin-bottom: 0px;
}

#navbar .nav-mobile ul li a {
    position: relative;
    line-height: 5rem;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    left: 0px;
    transition: ease-in-out all 0.1s;
}

#navbar .nav-mobile ul li a:hover {
    color:  var(--secondary-green);
    left: 5px;
}

@media only screen and (min-width: 720px) {
    #navbar {
        height: 7rem;
    } 

    #navbar .nav-desktop ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #navbar #btn-menu {
        display: none;
    }
}

/* About */
#about {
    display: block;
    background-color: #EEEEEE;
}

#about-data {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div-side {
    max-width: 40rem;
    width: 90%;
}

.content-to-right {
    text-align: right;
}

.content-to-left {
    text-align: left;
}

.div-side.content-to-right {
    text-align: left;
}

.about-data-item h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    margin: 1rem auto;
}

.about-data-item p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #777;
    word-wrap: break-word;
}

#about-description {
    width: 90%;
    max-width: 70rem;
    margin: 6rem auto;
    text-align: center;
    color: #333;
}

#about-description p {
    margin: 1rem;
}

@media only screen and (min-width: 720px) {
    .div-side {        
        width: 30%;
    }

    .div-side.content-to-right {
        text-align: right;
    }
}

/* Skills */
#skill-data {
    display: flex;
    justify-content: space-around;
}

#skills-grid {
    display: grid;
    margin: 3rem auto;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr ));
    grid-row-gap: 1.5rem;
    justify-items: center;
}

.skills-data-item {
    margin: 0.5rem 0;
    width: 100%;
    max-width: 32rem;
}

.skills-data-item p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 1.2rem;
}
  
.progress {
    position: relative;
    background: #FFF;
    border-radius: 20px;
    height: 2.5rem;
    border: solid  var(--main-green) 1px;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  
.skills-data-item .progress span {
    position: absolute;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% );
}
  
.progress-bar {
    height: 100%;
    background-color: var(--main-green);
    border-radius: 25px;
    transition: 0.4s linear;
    transition-property: width, background-color;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  
.progress .progress-bar {
    background-color: #7BFF9E;
}


@media only screen and (min-width: 720px) {
    #skills-grid {
        max-width: 90rem;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr ));
    }
}

/* experience */
#experience {
    background-color: #EEEEEE;
}

.experience-item {
    display: grid;
    direction: ltr;
    justify-content: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax( 320px, 2fr));
    grid-column-gap: 5rem;
    margin-bottom: 2rem;
}

.experience-item .rounded-box {
    text-align: left;
}

.experience-item div {
    direction: ltr;
}

.experience-item .experience-description {
    max-width: 90%;
    background: rgb(251, 251, 251);
    padding: 2rem 3.5rem;
    position: relative;
}

.experience-item .experience-description h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.experience-item .experience-description h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color:  var(--main-green);
    font-weight: normal;
}

.experience-item .experience-description p {
   color: #777777;
}

.experience-date {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    max-width: 28rem;
    height: 4.8rem;
    background-color: #333;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.5rem 3rem;
    margin-bottom: 1.5rem;
}

/* sytles of .reverse class and related css with the effect will show only if screen width > 715px (when grid with 2 cols) */
@media only screen and (min-width: 717px) {
    .experience-item {
        justify-items: start;
    }

    .experience-date {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }

    .experience-item .rounded-box {
        text-align: right;
    }

    .experience-item.reverse .rounded-box {
        text-align: left;
    }
    

    .experience-item .experience-description::before {
        content: '';
        position: absolute;
        width: 0rem;
        height: 110%;
        top: 3rem;
        border: 0.2rem solid;
        border-image: linear-gradient(#777777, #777777) 1;
    }

    .experience-item:last-of-type .experience-description::before {
        border-image: linear-gradient(#777777a9, #7777772d 30%, #77777700 85%) 1!important;
    }

    .experience-item .experience-description::before {
        right: -3rem;
    }

    .experience-item .experience-description::after {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--main-green);
        border-radius: 2.5rem;
        -webkit-border-radius: 2.5rem;
        -moz-border-radius: 2.5rem;
        -ms-border-radius: 2.5rem;
        -o-border-radius: 2.5rem;
        top: 2.2rem;
    }

    .experience-item .experience-description::after {
        right: -3.55rem;
    }

    .experience-item .experience-description {
        justify-self: end;
    }

    .experience-item.reverse {
        direction: rtl;
    }
    
    .experience-item.reverse div {
        direction: ltr;
    }
    
    .experience-item.reverse .experience-description {
        justify-self: end!important;
    }

    .experience-item.reverse .experience-description {
        justify-self: start;
    }

    .experience-item.reverse .experience-description::before {
        left: -2.5rem;
    }

    .experience-item.reverse .experience-description::after {
        left: -3rem;
    }
}

/* education */
#education {
    background-color: #777777;
}

.education-items-grid {
    margin: 0 auto;
    width: 90%;
    max-width: 90rem;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 40rem));
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
}

#education .section-title {
    color: #fff;
}

.education-item .rounded-box {
    display: block;
    padding: 1.3rem 3rem;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.education-item .rounded-box div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.education-item span {
    display: inline-block;
    color: #333;
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    margin-left: 1rem;
}

.education-item hr {
    border: 1px solid var(--main-green);
    margin-bottom: 1rem;
}

.education-item h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.education-item a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #777777;
    margin-left: -0.6rem;
}

.education-item a:hover {
    text-decoration: underline;
}

.education-item svg path {
    color: var(--main-green);
}

.svg-inline--fa {
    font-size: 3rem;
    margin-right: 1.5rem;
}

.education-item span.clarification-wrapper {
    cursor: pointer;
    position: relative;
}

.education-item span.clarification-wrapper svg path {
    color: #777;
    font-size: 1rem;
}

.education-item span.clarification-wrapper .svg-inline--fa {
    font-size: 1.6rem;
}

.education-item span.clarification-wrapper .clarification {
    display: none;
}

.education-item span.clarification-wrapper:hover .clarification {
    position: absolute;
    left: -10rem;
    background: #eeeeee;
    padding: 0.5rem;
    border: 1px solid #dddddd;
    max-width: 30rem;
    display: block;
}

/* portfolio */
.portfolio-grid {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem
}

.port-item {
    position: relative;
    width: 28rem;
    height: auto;
    margin: 3rem 2rem;
}

.port-item .img-wrapper {
    position: relative;
    width: 100%;
    height: 22rem;
    overflow: hidden;
}

.port-item .img-wrapper .bg-buttons {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #777777c2;
}

.port-item:hover .bg-buttons {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

.port-item .img  {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-item .img-wrapper img {
    height: 100%;
    width: 100%;
}

.port-item > a{
    text-decoration: none;
}

.port-item > a:hover {
    text-decoration: underline;
}

.port-item h4 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    font-style: 'Roboto', sans-serif;
    margin: 0.8rem 0
}

.port-item p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: 'Open Sans', sans-serif;
    margin: 0.5rem 0;
    color: #777777;
}


/* contact */
#contact {
    background: #777;
}

#contact h2 {
    color: #fff;
}

#contact p { 
    color: #fff;
    width: 50rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.form {
    width: 95%;
    max-width: 490px;
    margin: 3rem auto;
}

#contact .form input[type='submit'] {
    text-transform: uppercase;
}

#footer {
    display: block;
    background: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer p {
    color: #fff;
    text-align: center;
}