<div class="wrapper">
  <h2 class="section-title">work experience</h2>
  <div class="experience-items-wrapper">

      <experience-item 
        *ngFor="let exp_item of experience;let i = index" 
        [exp_item]="exp_item"
        [ngClass]="{'experience-item': true, 'reverse': i % 2 == 1}">
      </experience-item>

  </div>
  <a *ngIf="maxItems" class="center-link btn" [routerLink]="[ '/experience' ]"><fa-icon [icon]="faPlus"></fa-icon>See all</a>
</div>

<editor *ngIf="auth.loggedIn" [data]="experience" [dataName]="'experience'" (sendDataToParent)="eventFromChild($event)"></editor>